
.titleBar {
  width: 100vw;
  height: 75px;
  background-color: aqua;
  position: fixed;
 }

 .home {
   margin-left: 20px;
   text-justify: auto;
 }

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

.personInfo {
  margin-left: 70px;
  text-align: left;
  
}
.name {
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-color: aqua;
  -moz-text-decoration-color: aqua;
}

.card {
  height: 60vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
}

.count {
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  
}

.moviesSection {
  margin-left: 70px;
  text-align: left;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: rgba(255, 228, 196, 0);
  border: none;
  border-radius: 30px;
  color: white;
  width: 100px;
  font-weight: 700;
  font-size: 30px;
  
}
.buttons{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.navSection{
  width: 85vw;
  
}




